<div class = "container">
    <h1>映画検索</h1>
    <div>
        <%= form_with url: movies_path, local: true, method: :get do |f| %>
        <%= f.text_field :looking_for, placeholder: 'Movie Title...' %>
        <%#= f.select :genre_id, options_for_select(@genres, :id, :name) %>
            
        <%= f.submit '検索' %>
        <% end %>
    </div>
    <%# 検索された時にコンテンツを表示する %>
    <% if params[:looking_for].present? %>
        <h2><%= params[:looking_for] + "　" %>の検索結果</h2>
    <% else %>
        <%# 検索されていない時にトレンドコンテンツを表示する %>
        <h2>本日の世界のトレンド</h2>
    <% end %>
     =====================
    <div>
        <%= render 'movies/list', movie: @movie %>
    </div>
</div>