<div class="container col-lg-7">
  映画情報
    <h3><%= @movie['table']['title'] %></h3>
    <% if @providers['results']['JP'].present? %>
      <% if @providers['results']['JP']['flatrate'].present? %>
        <% @providers['results']['JP']['flatrate'].each do |provider| %>
          <%= "　:" + provider['provider_name'] %>
        <% end %>
      <% end %>
    <% end %>
    ジャンル
    <% @movie['table']['genres'].each do |genre| %>
      <%= "　:" + genre["table"]["name"] %>
    <% end %>
    <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + @movie['table']['poster_path'],size: "300x450",class: "card-img" %></p>
     <%= link_to "レビューを投稿する", new_review_path(movie_id: @movie['table']['id']),class: "btn btn-outline-dark mx-1" %>
</div>