<div class="container">
  レビュー一覧

  <div>
    <%= form_with url: reviews_path, local: :true, method: :get do |f| %>
      <%= f.text_field :looking_for, placeholder: 'Review Title...' %>
      <%= f.submit '検索' %>
    <% end %>
  </div>

  <div>
    <table class="table">
      <thead>
        <th>
          レビュータイトル
        </th>
        <th>
          投稿者
        </th>
        <th>
          映画タイトル
        </th>
        <th>
          ステータス
        </th>
      </thead>
      <% @reviews.each do |review| %>
        <% unless (review.is_draft == true) && (review.user != current_user) %>
        <tr>
            <% movieinfo = JSON.parse((Tmdb::Movie.detail(review.movie_id).to_json)) %>
            <td>
            <%= link_to review.title, review_path(review.id) %>
            </td>
            <td>
            <%= review.user.name %>
            </td>
            <td>
            <%= link_to movieinfo['table']['title'],movie_path(review.movie_id) %>
            </td>
            <td>
              <% if review.is_draft == true %>
                下書き
              <% else %>
                公開
              <% end %>
            </td>
        </tr>
        <% end %>
      <% end %>
    </table>
  </div>

</div>