<div class="container row mt-5 mx-auto">
    <div class="col-2 ml-3 mt-2">
        <h5>マイページ</h5>
    </div>
    <div class="form-group postion-center">
        <% if current_user.name != "guestuser" %>
            <%= link_to '編集する',user_edit_path, class:"btn btn-success" %>
        <% end %>
    </div>
</div>

<div class="col-7 ml-3 mx-auto">
    <table class="table table-bordered">
        <tr>
            <td class="secondary">名前</td>
            <td scope="col" style="width: 80%"><%= current_user.name %></td>
    </tr>
    <tr>
        <td class="secondary">メールアドレス</td>
        <td scope="col" style="width: 80%"><%= current_user.email %></td>
    </tr>
</table>
<div>
    投稿レビュー
    <table class="table">
      <thead>
        <th>
          レビュータイトル
        </th>
        <th>
          映画タイトル
        </th>
        <th>
          ステータス
        </th>
      </thead>
      <% @reviews.each do |review| %>
        <tr>
            <% movieinfo = JSON.parse((Tmdb::Movie.detail(review.movie_id).to_json)) %>
            <td>
              <%= link_to review.title, review_path(review.id) %>
            </td>
            <td>
              <%= link_to movieinfo['table']['title'],movie_path(review.movie_id) %>
            </td>
            <td>
              <% if review.is_draft == true %>
                下書き
              <% else %>
                公開
              <% end %>
            </td>
        </tr>
      <% end %>
    </table>
  </div>

</div>