<div class = "container">
    <h1>映画検索</h1>
    <div>
        <%= form_with url: admin_movies_path, local: true, method: :get do |f| %>
            <%= f.text_field :looking_for, placeholder: 'Movie Title...' %>
            <%= f.select :genre_id, options_for_select(@genres), { include_blank: "ジャンル" } %>
            <%= f.submit '検索' %>
        <% end %>
    </div>
    <%# 検索された時にコンテンツを表示する %>
    <% if params[:looking_for].present? || params[:genre_id].present? %>
        <h2>
        <% if params[:looking_for].present? %>
            <%= params[:looking_for] + "　" %>
        <% end %>
        <% if params[:genre_id].present? %>
            <%= "ジャンル：" + @genres.find{|arr| arr[1].to_s == params[:genre_id] }[0]  %>
        <% end %>
        　の検索結果</h2>
    <% else %>
        <%# 検索されていない時にトレンドコンテンツを表示する %>
        <h2>本日の世界のトレンド</h2>
    <% end %>
     =====================
  <div>
    <%= render 'movies/list', movie: @movie %>
  </div>
</div>