<div class="container col-lg-12">
  <div class="col-lg-7 mx-auto">
    映画情報
    <h3><%= @movie['table']['title'] %></h3>
    <% if @providers['results']['JP'].present? %>
      視聴可能サービス
        <% @providers['results']['JP']['flatrate'].each do |provider| %>
          <%= image_tag 'https://www.themoviedb.org/t/p/w45'+ provider['logo_path'], title: provider['provider_name'] %>
        <% end %>
    <% end %><br>
    ジャンル
    <% @movie['table']['genres'].each do |genre| %>
      <%= link_to ":" + genre["table"]["name"], admin_movies_path(genre_id: genre['table']['id']) %>
    <% end %>
    <br>
  </div>
  <div class="col-lg-3 mx-auto">
    <p><%= image_tag 'https://image.tmdb.org/t/p/w1280' + @movie['table']['poster_path'],class: "card-img" %></p>
  </div>
  <div>
    <%= render 'reviews/list', reviews: @reviews %>
  </div>
</div>