<table class="table">
  <thead>
    <th>
      レビューID
    </th>
    <th>
      レビュータイトル
    </th>
    <th>
      投稿者
    </th>
    <th>
      映画タイトル
    </th>
    <th>
      評価
    </th>
    <th>
      ステータス
    </th>
  </thead>
  <% reviews.each do |review| %>
    <% unless (review.is_draft == true) && (review.user != current_user) %>
      <tr>
        <% movie = JSON.parse((Tmdb::Movie.detail(review.movie_id).to_json)) %>
        <td>
          <% if admin_signed_in? %>
            <%= link_to review.id, admin_review_path(review.id) %>
          <% else %>
            <%= link_to review.id, review_path(review.id) %>
          <% end %>
        </td>
        <td>
          <% if admin_signed_in? %>
            <%= link_to review.title, admin_review_path(review.id) %>
          <% else %>
            <%= link_to review.title, review_path(review.id) %>
          <% end %>
        </td>
        <td>
          <% if admin_signed_in? %>
            <%= link_to review.user.name, admin_reviews_path(looking_for: review.user.name, range: "投稿者"), data: {:looking_for => review.user.name} %>
          <% else %>
            <%= link_to review.user.name, reviews_path(looking_for: review.user.name, range: "投稿者"), data: {:looking_for => review.user.name} %>
          <% end %>
        </td>
        <td>

          <% if admin_signed_in? %>
            <%= link_to movie['table']['title'],admin_movie_path(review.movie_id) %>
          <% else %>
            <%= link_to movie['table']['title'],movie_path(review.movie_id) %>
          <% end %>
        </td>
        <td>
          <div id="star-rate<%= review.id%>"></div>
          <script>
            $('#star-rate<%= review.id%>').empty();
            $('#star-rate<%= review.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= review.star %>,
            });
          </script>
        </td>
        <td>
          <% if review.is_draft == true %>
            下書き
          <% else %>
            公開
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>