<div class="container">
  レビュー編集
  <%= form_with model: @review, method: "patch" do |f| %>
  <table class="table">
    <tr>
      <td>
        レビュータイトル
      </td>
      <td>
        <%= f.text_field :title %>
      </td>
    </tr>
    <tr>
      <td>
        投稿者
      </td>
      <td>
        <%= @review.user.name %>
      </td>
    </tr>
    <tr>
      <td>
        映画
      </td>
      <td>
        <%= @movie['table']['title'] %>
      </td>
    </tr>

    <tr>
      <td>
        評価
      </td>
      <td>
        <div class="form_group" id="star">
          <%= f.hidden_field :star, id: :review_star, :value => 'score' %>
        </div>
      </td>
    </tr>
  </table>
  レビュー内容<br>
  <%= f.text_area :body %><br>
  <% if @review.is_draft == true %>
    <%= f.submit "下書きを公開", :name => 'publicize_draft', class:'mr-5 btn btn-sm btn-warning' %>
    <%= f.submit "下書きを更新", :name => 'update_draft', class:'mr-5 btn btn-sm btn-outline-secondary' %>
  <% else %>
    <%= f.submit "投稿を更新", :name => 'update_post', class:'mr-5 btn btn-sm btn-success' %>
  <% end %>
  <script>
       $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    score: <%= @review.star %>,

    half: false,
    scoreName: 'review[star]',

    click: function(score) {
    alert(score);
    $("#review_star").val(score);
  }
  });
  </script>
  <% end %>
</div>