<div class="container">
  レビュー一覧

  <div>
    <%= form_with url: reviews_path, local: :true, method: :get do |f| %>
      <%= f.text_field :looking_for, placeholder: 'Review Title...' %>
      <%= f.select :range, options_for_select([["タイトル"], ["投稿者"]]) %>
      <%= f.submit '検索' %>
    <% end %>
  </div>
  
  <div>
    <% if params[:looking_for].present? %>
      <%= params[:looking_for] + "　の" +  params[:range] %>の検索結果
    <% end %>
  </div>

  <div class = "review_list">
    <%= render 'reviews/list', reviews: @reviews %>
  </div>

</div>
