<div class="container">
  レビュー投稿
  <%= form_with model: @review do |f| %>
  <table class="table">
    <tr>
      <td>
        投稿者
      </td>
      <td>
        <%= current_user.name %>
      </td>
    </tr>
    <tr>
      <td>
        映画
      </td>
      <td>
        <h3><%= @movie['table']['title'] %></h3>
      </td>
    </tr>
    <tr>
      <td>
        ジャンル
      </td>
      <td>
        <% @movie['table']['genres'].each do |genre| %>
          <%= "　:" + genre["table"]["name"] %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        レビュータイトル
      </td>
      <td>
        <%= f.text_field :title %>
      </td>
    </tr>
    <tr>
      <td>
        タグ
      </td>
      <td>
        <div class = "tag_list">
          <%= render 'tags/list', tags: @tags %>
        </div>
        <% form_with model: [@tag, @review],local: false do |f| %>
          <%= f.text_field :name %>
          <%= f.submit "タグ追加" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :star,'評価 '%>
      </td>
      <td>
        <div class="form_group" id="star">
    <%= f.hidden_field :star, id: :review_star, :value => 'score' %>
    </div>
      </td>

    </tr>
  </table>
  <h4>本文</h4>
    <%= f.text_area :body %><br>
    <%= f.hidden_field :movie_id, value: @movie['table']['id'] %>
    
  <%= f.submit '投稿', :name => 'post', class: 'mr-5 btn btn-sm btn-warning text-white' %>
  <%= f.submit '下書きに保存', :name => 'draft', class: 'mr-5 btn btn-sm btn-outline-secondary' %>
  <script>
  $('#star').empty();
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    score: 3,

    half: false,
    scoreName: 'review[star]',
    
    
  });
  </script>
  <% end %>

</div>