<div class="container">
  レビュー詳細
  <table class="table">
    <tr>
      <td>
        レビュータイトル
      </td>
      <td>
        <%= @review.title %>
      </td>
    </tr>
    <tr>
      <td>
        投稿者
      </td>
      <td>
        <%= @review.user.name %>
      </td>
    </tr>
    <tr>
      <td>
        映画
      </td>
      <td>
        <%= link_to @movie['table']['title'],movie_path(@movie['table']['id']) %>
      </td>
    </tr>
    <tr>
      <td>
        評価
      </td>
      <td>
        <div id="star-rate"></div>
        <script>
      $('#star-rate').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        half      : false,
        readOnly: true,
        score: <%= @review.star %>,
      });
    </script>
      </td>
    </tr>
    <tr>
      <td>
        タグ
      </td>
      <td>
        <% @reviewtags.each do |reviewtag| %>
          <%= ":" + reviewtag.tag.name + "　" %>
        <% end %>
      </td>
    </tr>
    <% if @review.is_draft == true %>
      <tr>
        <td>ステータス</td>
        <td>非公開</td>
      </tr>
    <% end %>
  </table>
  レビュー内容<br>
  <%= @review.body %><br>
  コメント<br>

  <div class = "comment_list">
    <%= render 'comments/list', review: @review %>
  </div>

  <div class = "comment_form">
    <% if user_signed_in? %>
      <div>
      <%= form_with model: [@review, @comment],local:false do |f| %>

        <%= f.text_area :body %><br>
        <%= f.submit "送信" %>
      <% end %>
      </div>
    <% end %>
  </div>
  <% if current_user == @review.user %>
    <%= link_to '編集', edit_review_path, class: 'btn btn-success' %>
    <%= link_to '削除', review_path,method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>


