<header class="border-bottom border-light bg-dark mb-5">
  <nav class="navbar">
    <div class="container-fluid">
      <%= link_to "Movie Review", root_path, class: "btn btn-outline-light mx-1" %>
      <div class="col-lg-4">
      </div>
      <% if user_signed_in? %>
        <div class="text-center">
        </div>
      <% end %>
      <div class="col-lg-6 float-end text-right">
        <% if admin_signed_in? %>
          <%= link_to "映画", admin_movies_path, class: "btn btn-outline-light mx-1" %>
          <%= link_to "レビュー", admin_reviews_path, class: "btn btn-outline-light mx-1" %>
          <%= link_to "ユーザー", admin_users_path, class:"btn btn-outline-light mx-1" %>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: "btn btn-outline-light mx-1" %>
        <% else %>
          <%= link_to "映画", movies_path, class: "btn btn-outline-light mx-1" %>
          <%= link_to "レビュー", reviews_path, class: "btn btn-outline-light mx-1" %>
          <% if user_signed_in? %>
            <%= link_to "マイページ", user_path, class: "btn btn-outline-light mx-1" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "btn btn-outline-light mx-1" %>
          <% else %>
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-light mx-1" %>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-light mx-1" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>
</header>